<div layout-align="center center" layout="column">
    <h1>Account Retrival</h1>
    <form name="loginForm">
        <md-content layout="column" class="md-padding">

            <md-input-container class="md-icon-float md-block" style=" margin: 5px">
                <!-- Use floating label instead of placeholder -->
                <label>User Name</label>
                <md-icon md-svg-src="assets/icons/person.svg" class="name"></md-icon>
                <input ng-model="userName" type="text" size="35">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-click="vm.forgetPassword(userName)">Show
                    identification questions
                </md-button>
            </div>

        </md-content>


        <div name="questionsform" ng-if="vm.insertUserName">
            <md-content layout="column" class="md-padding">
                <div layout="row">


                    <md-input-container md-no-float class="md-block">
                 <span>
                {{vm.userQuestions[0].Question}}:
            </span>
                        <md-icon md-svg-src="assets/icons/answer.svg" style="display:inline-block;"></md-icon>
                        <input type="text" ng-model="vm.firstAnswer">
                    </md-input-container>

                </div>
                <div layout="row">

                    <md-input-container md-no-float class="md-block">
                  <span>
                {{vm.userQuestions[1].Question}}:
            </span>
                        <md-icon md-svg-src="assets/icons/answer.svg" style="display:inline-block;"></md-icon>
                        <input ng-model="vm.secondAnswer" type="text">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary"
                               ng-click="vm.retrievePassword(userName,$event)">retrive password
                    </md-button>
                </div>
            </md-content>

        </div>
    </form>
</div>

